.form-wrap {
    width: 700px;
    background: #3e3d3d;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    box-shadow: 12px 12px 2px 1px rgba(153, 51, 51, 0.4);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.sexe{
    display: flex;
    flex-direction: row;
}
